.faq-container {
  width: 70%;
  height: 80vh;
  padding: 20px 0;
  background: white;
  border-radius: 20px;
}

.bg-pattern {
  /* border: 1px solid green; */
  background-image: url("../../assets/bg-pattern-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 40vw;
  left: -50px;
  position: relative;
}

.women-online-image {
  /* height: 500px; */
  background-image: url("../../assets/illustration-woman-online-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 503px;
  width: 40vw;
  left: -50px;
  position: relative;
  top: 90px;
}

.boxImage {
  background-image: url("../../assets/illustration-box-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  position: relative;
  top: 160px;
  left:-70px;
  height: 40%;
  width: 40%;
}

@media only screen and (max-width: 600px) {

  .faq-container{
    padding: 0 !important;
    height: 70vh;
  }

  .bg-pattern {
    background-image: url("../../assets/bg-pattern-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 175px;
    width: 250px;
    position: relative;
    left: 0px;
    top: -15px;
  }

  .women-online-image {
    background-image: url("../../assets/illustration-woman-online-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 271px;
    position: relative;
    top: -72px;
    left: -27px;
  }

  .boxImage {
    display: none;
  }

  .faq-heading {
    text-align: center !important;
    margin-bottom: 10px !important;
  }

  .faqs {
    padding: 2% 5% 0 5% !important;
  }
}

.faqs {
  /* border: 1px solid blue; */
  padding: 5% 10% 0 2%;
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  overflow: overlay;
}

.faq-heading {
  text-align: left;
  margin-bottom: 50px;
}

.qnaStyle {
  margin-bottom: 10px;
}
